version: "3.9"

services:
  alpha-network:
    image: thetpman404/the-alpha-network:latest
    container_name: alpha-network
    ports:
      - "4000:4000"
    env_file:
      - .env
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --schedule "0 0 3 * * *" --label-enable
    restart: always
